:root {
    --loader-border-bg: 16px solid #f3f3f3;
    --loader-border-spinner: 16px solid #808080;
    --mobile-loader-border-bg: 12px solid #f3f3f3;
    --mobile-loader-border-spinner: 12px solid #808080;
    --loader-size: 120px;
    --mobile-loader-size: 96px;
}

.loader {
    border: var(--loader-border-bg);
    border-radius: 50%;
    border-top: var(--loader-border-spinner);
    width: var(--loader-size);
    height: var(--loader-size);
    animation: spin 2s linear infinite;

    @media (max-width: 800px) {
        border: var(--mobile-loader-border-bg);
        border-top: var(--mobile-loader-border-spinner);
        width: var(--mobile-loader-size);
        height: var(--mobile-loader-size);
    }

    @keyframes spin {
        0% { 
            transform: rotate(0deg); 
        }
        100% { 
            transform: rotate(360deg); 
        }
  }
}