:root {
    --layout-search-icon-size: 64px;
    --mobile-layout-search-icon-size: 36px;
    --layout-search-icon-margin-bottom: 47px;
    --mobile-layout-search-icon-margin-bottom: 24px;
    --start-text-font-size: 22px;
    --mobile-start-text-font-size: 18px;
    --start-text-line-height: 30.8px;
    --mobile-start-text-line-height: 25.4px;
}

.layout-search-icon {
    width: var(--layout-search-icon-size);
    height: var(--layout-search-icon-size);
    margin-bottom: var(--layout-search-icon-margin-bottom);

    @media (max-width: 800px) {
        width: var(--mobile-layout-search-icon-size);
        height: var(--mobile-layout-search-icon-size);
        margin-bottom: var(--mobile-layout-search-icon-margin-bottom);
    }
}

.start-text {
    margin: 0;
    font-size: var(--start-text-font-size);
    line-height: var(--start-text-line-height);
    color: #808080;
    text-align: center;

    @media (max-width: 800px) {
        font-size: var(--mobile-start-text-font-size);
        line-height: var(--mobile-start-text-line-height);
    }
}