:root {
    --layout-user-icon-width: 65px;
    --mobile-layout-user-icon-width: 75px;
    --layout-user-icon-height: 75px;
    --mobile-layout-user-icon-height: 85px;
    --layout-user-icon-margin-bottom: 42px;
    --no-user-text-font-size: 22px;
    --mobile-no-user-text-font-size: 28px;
    --no-user-text-line-height: 30.8px;
    --mobile-no-user-text-line-height: 36.8px;
    --github-profile-width: calc(100% - 116px);
    --mobile-medium-github-profile-width: calc(100% - 64px);
    --mobile-small-github-profile-width: calc(100% - 32px);
    --github-profile-padding: 102px 58px 30px;
    --mobile-medium-github-profile-padding: 102px 32px 24px;
    --mobile-small-github-profile-padding: 102px 16px 18px;
    --user-info-margin-right: 80px;
    --mobile-user-info-margin-bottom: 24px;
    --avatar-img-size: 280px;
    --mobile-medium-avatar-img-size: 320px;
    --mobile-small-avatar-img-size: 160px;
    --avatar-img-margin-bottom: 29px;
    --user-name-font-size: 26px;
    --mobile-user-name-font-size: 40px;
    --user-name-line-height: 33.8px;
    --mobile-user-name-line-height: 44.8px;
    --user-name-margin-bottom: 12px;
    --user-link-font-size: 18px;
    --mobile-user-link-font-size: 32px;
    --user-link-margin-bottom: 25px;
    --people-icon-size: 24px;
    --mobile-people-icon-size: 40px;
    --people-icon-margin-right: 12px;
    --people-text-font-size: 16px;
    --mobile-people-text-font-size: 32px;
    --people-text-line-height: 24px;
    --mobile-people-text-line-height: 32px;
    --people-text-margin-right: 16px;
    --mobile-people-text-margin-bottom: 4px;
    --repos-heading-font-size: 32px;
    --mobile-repos-heading-font-size: 36px;
    --repos-heading-line-height: 41.6px;
    --mobile-repos-heading-line-height: 36.6px;
    --repos-heading-margin-bottom: 29px;
    --mobile-repos-heading-margin-bottom: 18px;
    --mobile-no-repos-icon-height: 70px;
    --mobile-no-repos-icon-width: 80px;
    --no-repos-icon-margin-bottom: 48px;
    --no-repos-text-font-size: 22px;
    --mobile-no-repos-text-font-size: 28px;
    --no-repos-text-line-height: 30.8px;
    --mobile-no-repos-text-line-height: 36.8px;
}

.user-icon {
    width: var(--layout-user-icon-width);
    height: var(--layout-user-icon-height);
    margin-bottom: var(--layout-user-icon-margin-bottom);

    @media (max-width: 1000px) {
        width: var(--mobile-layout-user-icon-width);
        height: var(--mobile-layout-user-icon-height);
    }
}

.no-user-text {
    margin: 0;
    font-size: var(--no-user-text-font-size);
    line-height: var(--no-user-text-line-height);
    color: #808080;

    @media (max-width: 1000px) {
        font-size: var(--mobile-no-user-text-font-size);
        line-height: var(--mobile-no-user-text-line-height);
    }
}

.github-profile {
    width: var(--github-profile-width);
    height: 100%;
    padding: var(--github-profile-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1000px) {
        flex-direction: column;
        padding: var(--mobile-medium-github-profile-padding);
        width: var(--mobile-medium-github-profile-width);
    }

    @media (max-width: 500px) {
        padding: var(--mobile-small-github-profile-padding);
        width: var(--mobile-small-github-profile-width);
    }

    .user-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: var(--user-info-margin-right);
        
        @media (max-width: 1000px) {
            width: 100%;
            height: unset;
            flex-direction: row;
            margin-right: 0;
            justify-content: space-around;
            align-items: center;
            margin-bottom: var(--mobile-user-info-margin-bottom);
        }

        .avatar-img {
            width: var(--avatar-img-size);
            height: var(--avatar-img-size);
            border-radius: 50%;
            margin-bottom: var(--avatar-img-margin-bottom);

            @media (max-width: 1000px) {
                width: var(--mobile-medium-avatar-img-size);
                height: var(--mobile-medium-avatar-img-size);
                margin-bottom: 0;
            }

            @media (max-width: 500px) {
                width: var(--mobile-small-avatar-img-size);
                height: var(--mobile-small-avatar-img-size);
                margin-right: var(--mobile-avatar-img-margin-right);
            }
        }

        .user-name {
            margin: 0;
            font-weight: 600;
            font-size: var(--user-name-font-size);
            line-height: var(--user-name-line-height);
            margin-bottom: var(--user-name-margin-bottom);

            @media (max-width: 1000px) {
                font-size: var(--mobile-user-name-font-size);
                line-height: var(--mobile-user-name-line-height);
            }
        }

        .user-link {
            display: flex;
            text-decoration: none;
            font-size: var(--user-link-font-size);
            color: #0064EB;
            margin-bottom: var(--user-link-margin-bottom);

            @media (max-width: 1000px) {
                font-size: var(--mobile-user-link-font-size);
            }
        }

        .people {
            display: flex;
            align-items: center;

            @media (max-width: 1000px) {
                flex-direction: column;
            }

            .people-section {
                display: flex;
                align-items: center;

                @media (max-width: 1000px) {
                    width: 100%;
                }

                &:first-child {
                    margin-right: var(--people-text-margin-right);

                    @media (max-width: 1000px) {
                        margin-right: 0;
                        margin-bottom: var(--mobile-people-text-margin-bottom);
                    }
                }

                .people-icon {
                    width: var(--people-icon-size);
                    height: var(--people-icon-size);
                    margin-right: var(--people-icon-margin-right);

                    @media (max-width: 1000px) {
                        width: var(--mobile-people-icon-size);
                        height: var(--mobile-people-icon-size);
                    }
                }
    
                .people-text {
                    font-size: var(--people-text-font-size);
                    line-height: var(--people-text-line-height);
                    margin: 0;

                    @media (max-width: 1000px) {
                        font-size: var(--mobile-people-text-font-size);
                        line-height: var(--mobile-people-text-line-height);
                    }
                }
            }
        }
    }

    .user-repos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        min-height: 100%;
        width: 100%;
        position: relative;

        .repos-heading {
            margin: 0;
            font-weight: 600;
            font-size: var(--repos-heading-font-size);
            line-height: var(--repos-heading-line-height);
            margin-bottom: var(--repos-heading-margin-bottom);

            @media (max-width: 1000px) {
                font-size: var(--mobile-repos-heading-font-size);
                line-height: var(--mobile-repos-heading-line-height);
                margin-bottom: var(--mobile-repos-heading-margin-bottom);
            }
        }
    }

    .empty-repos {
        flex: 1;
        
        .no-repos {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .no-repos-icon {
                margin-bottom: var(--no-repos-icon-margin-bottom);

                @media (max-width: 1000px) {
                    width: var(--mobile-no-repos-icon-width);
                    height: var(--mobile-no-repos-icon-height);
                }
            }
    
            .no-repos-text {
                margin: 0;
                font-size: var(--no-repos-text-font-size);
                line-height: var(--no-repos-text-line-height);
                color: #808080;

                @media (max-width: 1000px) {
                    font-size: var(--mobile-no-repos-text-font-size);
                    line-height: var(--mobile-no-repos-text-line-height);
                }
            }
        }
    }
}